{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Book Appointments</title>
</head>
<body class="bg-[#E4EcF8]">

    <div class="w-full bg-white py-2 flex justify-between items-center h-16 shadow-md z-50">
        <a href="/" class="text-3xl font-bold text-gray-700 hover:underline"><img class="w-[5rem]"
                src="../../static/logo.png" alt=""></a>
    </div>
    
</body>
</html>